<!DOCTYPE html>
<html>

<head>
    <!-- 
        DES322 
        Assignment 12 Vue.js
        Student ID: 6222780379 
        Name: Paphana Yiwsiw
        TA Group 4 Titipakorn Prakayapun
        Digital Business: ManMai Online Curtain Store
        Created Date: 20/11/2021
    -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">
    <title>Mackeynique Store</title>
</head>

<body class="d-flex flex-column h-100">
    <div class="app_container">
        <div id="app">
            <header>
                <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">MKN</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <!-- On click event ShowHomePage -->
                                <li class="nav-item" v-on:click="ShowHomePage">
                                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                                </li>
                            </ul>
                            <form class="d-flex">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                            <!-- On click event ShowMyCart -->
                            <li class="nav-item" v-on:click="ShowMyCart">
                                <a class="btn btn-custom" href="#">My Cart ({{countitem}})</a>
                            </li>
                        </div>
                    </div>
                </nav>
            </header>

            <!--Keyboard-->
            <main class="flex-shrink-0" style="margin-top: 100px;">
                <div class="container" v-if="product_page">
                    <h5>All Keyboards</h5>
                    <hr />
                    <div class="home container mb-5">
                        <div class="row">
                            <div class="col-md-12 pt-2">
                                <div
                                    class="row equal row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4">
                                    <!-- on add-item event call addItem method / for loop products / key product id -->
                                    <Product v-on:add-item="addItem" v-for="product in products" :product="product"
                                        :key="product.id" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- If cart page is true, it will show this -->
                <div class="container" style="margin-top : 100px;" v-if="cart_page">
                    My Cart ::
                    <hr />
                    <div class="home container">
                        <div class="row">
                            <div class="col-md-12 pt-3">
                                <!-- Loop cart item -->
                                <CartItem v-on:remove-item="removeItem" v-for="item in cart" :item="item"
                                    :key="item.id" />
                            </div>
                        </div>
                        <div class="row py-3 mb-5 text-right">
                            <b>Total {{grandtotal}} THB</b>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <!-- Footer -->
    <div class="navbar bg-dark py-3 fixed-bottom">
        <div class="container">
            <div class="col-md-12 text-center">
                <p class="mb-0 text-white">2021 Mackeynique. All rights reserved</p>
            </div>
        </div>
    </div>

    <!-- Create template of product -->
    <template id="product-template">
        <div class="col mb-4 d-flex">
            <div class="card">
                <img :src="product.url" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">
                        {{product.price}} THB
                        <br />
                        <small>
                            {{product.shortdesc}}
                        </small>
                    </p>
                    <!-- Attach onclick event to addToCart method -->
                    <button @click="addToCart()" class="btn btn-custom btn-block align-bottom">Add to cart</button>
                </div>
            </div>
        </div>
    </template>
    <!-- Create template with id cart-item template -->
    <template id="cartitem-template">
        <div class="p-3 m-2 border rounded">
            <div class="row">
                <div class="col fw-bold">{{item.name}}</div>
                <div class="col">Amount: {{item.count}}</div>
                <div class="col">Subtotal: {{item.subtotal}} THB</div>
                <div class="col"><button @click="removeFromCart()" class="mx-4 btn btn-danger btn-sm">Remove from
                        cart</button>
                </div>
            </div>
        </div>
    </template>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/vue@next"></script>
    <!-- <script src="https://unpkg.com/vuex@4.0.0/dist/vuex.global.js"></script> -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        let app = Vue.createApp({

            data: function () {
                return {
                    product_page: true,
                    cart_page: false,
                    products: [{
                        id: 1,
                        name: "Keychron Q1",
                        price: 5990,
                        shortdesc: "75%, Hot-Swappable, RGB",
                        url: "https://mercular.s3.ap-southeast-1.amazonaws.com/images/products/2021/11/Product/keychron-q1-wireless-mechanical-keyboard-th-en-black-red-switch-01.jpg"
                    }, {
                        id: 2,
                        name: "Loga Yaksa PRO Printstream",
                        price: 3350,
                        shortdesc: "TKL, Gateron Red Switch, Hot-Swappable",
                        url: "https://mercular.s3.ap-southeast-1.amazonaws.com/images/products/2021/11/Product/loga-yaksa-pro-printstream-tkl-mechanical-keyboard-en-01.jpg"
                    }, {
                        id: 3,
                        name: "Royal Kludge RK68 White",
                        price: 1750,
                        shortdesc: "65%, Hot-Swappable, RGB",
                        url: "https://mercular.s3.ap-southeast-1.amazonaws.com/images/products/2021/06/Royal%20Kludge/RK_RK68_WH_1.PNG"
                    }, {
                        id: 4,
                        name: "Razer BlackWidow V3",
                        price: 7090,
                        shortdesc: "65%, Razer Chroma RGB",
                        url: "https://mercular.s3.ap-southeast-1.amazonaws.com/images/products/2021/08/Product/razer-blackwidow-v3-mini-hyperspeed-us-wireless-mechanical-gaming-keyboard-phantom-yellow-switch-01.jpg"
                    }, {
                        id: 5,
                        name: "Leopold FC980M",
                        price: 4590,
                        shortdesc: "Compact, Cherry Switches, RGB",
                        url: "https://mercular.s3.ap-southeast-1.amazonaws.com/images/products/2020/12/LEOPOLD-FC980M-PD-White-Blue-Star-1.jpg"
                    }, {
                        id: 6,
                        name: "Nubwo X30 Terminator",
                        price: 1350,
                        shortdesc: "Full-Size, Outemu Switches, RGB",
                        url: "https://mercular.s3.ap-southeast-1.amazonaws.com/images/products/2020/04/NUBWO-X30-TERMINATOR-White-1.jpg"
                    }, {
                        id: 7,
                        name: "Anne Pro 2",
                        price: 2990,
                        shortdesc: "65%, Blue Switch, RGB",
                        url: "https://mercular.s3.ap-southeast-1.amazonaws.com/images/products/2021/06/Product/Tum's/AP2_WH_Case_1.jpg"
                    }, {
                        id: 8,
                        name: "Steelseries Apex 7 TKL Ghost",
                        price: 6990,
                        shortdesc: "TKL, OLED Smart Display, Limited Edition",
                        url: "https://mercular.s3.ap-southeast-1.amazonaws.com/images/products/2021/10/Product/steelseries-apex-7-tkl-ghost-mechanical-gaming-keyboard-en-white-red-switch-01.jpg"
                    }],
                    cart: []
                }
            },
            mounted: function () {

            },

            // Create 
            methods: {
                addItem: function (id) {
                    item = this.cart.find(product => product.id == id)
                    if (item) {
                        item.subtotal += item.price
                        item.count += 1
                    } else {
                        item = this.products.find(product => product.id == id)
                        this.cart.push({
                            id: item.id,
                            name: item.name,
                            price: item.price,
                            subtotal: item.price,
                            count: 1
                        })
                    }
                    console.log(this.cart)
                },
                removeItem: function (id) {
                    item = this.cart.find(item => item.id == id)
                    idx = this.cart.indexOf(item)
                    this.cart.splice(idx, 1)
                    console.log(this.cart)
                },
                ShowMyCart: function () {
                    this.cart_page = true
                    this.product_page = false
                },
                ShowHomePage: function () {
                    this.product_page = true
                    this.cart_page = false
                }
            },

            computed: {
                countitem: function () {
                    var total = 0
                    for (i in this.cart) {
                        total += this.cart[i].count
                    }
                    return total
                },
                grandtotal: function () {
                    var grandtotal = 0
                    for (i in this.cart) {
                        grandtotal += this.cart[i].subtotal
                    }
                    return grandtotal
                }
            }

        })

        app.component('Product', {
            data: function () {
                return {}
            },
            props: ['product'],
            template: "#product-template",

            methods: {

                addToCart: function () {
                    this.$emit("add-item", this.product.id)
                },
            },
        });

        app.component('Cartitem', {
            // Create property item
            props: ['item'],
            template: '#cartitem-template',
            methods: {
                removeFromCart: function () {
                    this.$emit("remove-item", this.item.id)
                }
            }
        });

        app.mount("#app")
    </script>


</body>

</html>